<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Méli-Mélodies{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'css/bs-meli.min.css'
                'css/font-awesome.min.css'
                'css/app.css'
                filter='cssrewrite' output='css/compiled/appc.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="content">
            <header id="banner">
                <img src="{{ asset('img/banner.png') }}" alt="Méli-Mélodies"/>
            </header>
            {% block menu %}
                {% include 'app/menu.html.twig' %}
            {% endblock %}
            {% include 'app/flash.html.twig' %}
            <div class="container" id="body">
                {% block body %}{% endblock %}
            </div>
            <footer class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h5>INFORMATIONS PRATIQUES</h5>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('cgu') }}" title="Conditions Générales d'Utilisation">CGU</a></li>
                                <li><a href="{{ path('contact') }}" title="Laissez-nous un mot">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><a href="{{ path('legals') }}" title="Mentions Légales">Mentions Légales</a></li>
                                <li><a href="{{ path('presentation') }}" title="Decouvrez-en plus sur nous !">Qui sommes-nous ?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <h5>NOUS SUIVRE</h5>
                    <ul class="list-unstyled">
                        <li><a class="social-fb" href="https://www.facebook.com/Méli-Mélodies-753219008068008/?fref=ts" title="Rejoignez nous sur Facebook" target="_blank"><i class="fa fa-facebook"></i> Méli-Mélodies</a></li>
                        <li><a class="social-yt" href="https://www.youtube.com/channel/UCx-TRoQdHQuYcMmeipHlEpA" title="Suivez-nous sur Youtube"><i class="fa fa-youtube"></i> Méli-Mélodies</a></li>
                    </ul>
                </div>
            </footer>
        </div>
        {% block javascripts %}
            {% javascripts
                'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
                'js/*'
                output='js/compiled/appc.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
